body {

    margin: 0;

    font-family: Poppins, sans-serif;

    background: linear-gradient(135deg, #ffd6e8, #ffeef6);

    overflow-x: hidden;

}

.home-page {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.glass-card {

    width: 420px;

    padding: 35px;

    border-radius: 35px;

    background: rgba(255, 255, 255, .35);

    backdrop-filter: blur(15px);

    box-shadow: 0 20px 50px rgba(0, 0, 0, .15);

    text-align: center;

}

.profile {

    width: 140px;

    height: 140px;

    border-radius: 50%;

    border: 6px solid white;

    object-fit: cover;

    box-shadow: 0 0 25px pink;

}

.top h1 {

    color: #ff3f7f;

    margin-top: 15px;

}

.top p {

    color: #444;

    margin-bottom: 30px;

}

.menu {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

}

.card {

    background: white;

    padding: 25px;

    border-radius: 20px;

    text-decoration: none;

    font-size: 40px;

    color: #ff3f7f;

    transition: .3s;

    display: flex;

    flex-direction: column;

    align-items: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

}

.card span {

    margin-top: 10px;

    font-size: 18px;

    font-weight: 600;

}

.card:hover {

    transform: translateY(-8px) scale(1.05);

    background: #ffd6e8;

}