.lock-container {

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.lock-card {

    width: 360px;

    padding: 35px;

    background: rgba(255, 255, 255, .25);

    backdrop-filter: blur(20px);

    border-radius: 30px;

    text-align: center;

    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);

}

.profile {

    width: 130px;

    height: 130px;

    border-radius: 50%;

    border: 5px solid white;

    margin: 20px auto;

    display: block;

    object-fit: cover;

}

.pin-dots {

    display: flex;

    justify-content: center;

    gap: 12px;

    margin: 20px;

}

.dot {

    width: 18px;

    height: 18px;

    border-radius: 50%;

    background: white;

    border: 2px solid hotpink;

}

.keypad {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    margin-top: 20px;

}

.keypad button {

    height: 60px;

    border: none;

    border-radius: 50%;

    font-size: 24px;

    background: white;

    cursor: pointer;

    transition: .3s;

}

.keypad button:hover {

    background: #ff5f9d;

    color: white;

    transform: scale(1.1);

}

.shake {

    animation: shake .4s;

}

@keyframes shake {

    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-8px);
    }

    40% {
        transform: translateX(8px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }

}