{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block content %}

<div class="music-container">

    <div class="player">

        <img id="cover" src="{{ url_for('static', filename='images/album1.jpg') }}">

        <h2 id="title">

            Our Song 💖

        </h2>

        <p id="artist">

            Billu's Playlist

        </p>

        <audio id="audio">

            <source src="{{ url_for('static', filename='music/song1.mp3') }}" type="audio/mpeg">

        </audio>

        <input type="range" id="progress" value="0">

        <div class="controls">

            <button onclick="previousSong()">
                ⏮
            </button>

            <button onclick="playPause()" id="playBtn">

                ▶

            </button>

            <button onclick="nextSong()">
                ⏭
            </button>

        </div>

        <div class="volume">

            🔊

            <input type="range" id="volume" min="0" max="1" step="0.01" value="1">

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
{% endblock %}